<div class="row top">
    <h2>Dieta Hipoglucidica, Hipolipidica, rica em fibra e fraccionada</h2>
    	</br>
	<h4>Regras Gerais:</h4>
	    <ul>
		    <p>Coma devagar e mastigue bem os alimentos.</p>
		    <p>Divida as refeições evitando estar mais de 2h30m a 3h sem comer, durante o dia e 8 a 9 horas, durante a noite. Fazer 6 a 7 refeições por dia.</p>
		    <p>De preferência evitar comer alimentos ricos em açucar.</p>
		    <p>Evitar ingerir alimentos ricos em sal, como: enchidos, fumados, queijos, caldos aromáticos, sopas e refeições instantâneas, peixe ou carne salgados ou fumados, entre outros.</p>
		    <p>Reduzir nas gorduras, principalmente fritos, guisados e molhos.</p>
		    <p>Preferir beber líquidos fora das refeições principais, mas sim nos intervalos, 2 litros água (sem gás), chá ervas sem açucar.</p>
		    <p>Caminhadas diárias - 2 vezes por dia.</p>
		</ul>
		</br>
	<h4>Alimentos Não Aconselhados</h4>
		<ul>
			<p>Alimentos ricos em açucar e gordura - Chocolates, cacau, bombons, rebuçados, bolos, bolachas ricas em manteiga ou chocolate, etc.</p>
			<p>Lacticínios - Leite gordo, leite condensado, natas, queijo gordo (com mais de 25% de gordura).</p>
			<p>Gorduras e Molhos - Banha, maioneses, bechamel, entre outros.</p>
			<p>Carnes Gordas - Peles de aves, vísceras, rim, pulmão, pato, porco (partes gordas e entrecosto, chispe, orelha, entre outros), enchidos e conservas.</p>
			<p>Bebidas - Refrigerantes, sumos e água de garrafa com gás, xaropes, bebidas alcoólicas. Bebidas com cafeína (café, colas, ice tea e chá verde ou preto).</p>
			<p>Evitar da alimentação pimenta, hortelã, caril, piripiri, isto é, as especiarias em geral.</p>
		</ul>
		</br>
	<h4>Alimentos Permitidos</h4>
		<ul>
			<p>Carnes Vermelhas (sem gorduras) - Borrego, carneiro, cavalo, vaca, vitela, 1 vez por semana.</p>
			<p>Outras carnes magras (sem peles e gorduras) - Coelho, frango, perdiz, pombo, peru.</p>
			<p>Carne porco (magra, febra ou lombo) - 2 vezes por semana.</p>
			<p>Peixes - Todos.</p>
			<p>Ovos - 3 unidades por semana (escalfados cozidos, mexidos sem gordura).</p>
			<p>4 Batatas médias, pode substituir 1 batata e meia por: 6 colheres sopa rasas arroz/massa/puré batata ou 8 colheres sopa rasas feijão ou grão ou 12 colheres de sopa de ervilhas ou favas.</p>
			<p>150g pão mistura (3 bolinhas por dia), pode substituir 50g pão por 5 bolachas Maria/torrada ou 6 bolachas de água e sal redondas.</p>
			<p>Produtos Hortícolas - Todos.</p>
			<p>Bebidas - Chá de ervas, água.</p>
			<p>Condimentos - Ervas aromáticas.</p>
		</ul>
		</br>
	<h4>Confecções Aconselhadas</h4>
		<ul>
			<p>Cozidos, grelhados, assados (sem molho) e estufados (com pouco zeite, sem refogar).</p>
		</ul>
		</br>
	<h4>Alimentos Limitados por Dia</h4>
		<ul>
			<p>Iogurtes magros sem adição de açucar (líquidos ou sólidos sem cereais ou pedaços fruta) / Queijos magros (com menos de 25% de gordura) - 2 a 3 iogurtes ou queijo.</p>
			<p>Fruta - 3 peças de fruta: 1 laranja, 1 fatia melão ou melância, 1 maçã, 1 pêra, 1 pêssego, 10 bagos uva, 3 ameixas pequenas, 5 alperces, 15 morangos, 1 kiwi, meia banana, meio dióspiro, 18 cerejas.</p>
			<p>Gorduras - para temperar (azeite), para barrar creme vegetal magro sem sal (Becel, Flora magra ou outra similar).</p>
		</ul>
		</br>
	
</div>