<div class="row top">
    <h4>Exemplo de Ementa Tipo</h4>
		<ul>
			<p><b>Pequeno-almoço</b></p>
				<ul>
					<li>Chá ervas sem açucar ou iogurte magro</li>
					<li>1 bolinha mistura ou fatia (50 gramas) de pão mistura com 1 fatia queijo ou fiambre</li>
				</ul>
			</br>
			<p><b>Meio da manhã</b></p>
				<ul>
			 		<li>1 peça de fruta</li>
			 		<li>1 tosta integral ou 2 bolachas Maria</li>
			 	</ul>
			</br>
			<p><b>2º Meio Manhã</b></p>
				<ul>
					<li>Meia bolinha com queijo</li>
				</ul>
			</br>
			<p><b>Almoço</b></p>
				<ul>
					<li>Sopa de legumes (só uma batata + muitos legumes e hortaliça, sem arroz/massa)</li>
				</ul>
			</br>
			<p><b>2º Prato</b></p>
				<ul>
					<li>Carne magra ou Peixe</li>
					<li>1 batata e meia ou 6 colheres de Arroz ou Massa ou Puré de batata</li>
					<li>Legumes cozidos ou salada. Não comer pão nem fruta</li>
				</ul>
			</br>
			<p><b>2 horas depois do almoço</b></p> 
				<ul>
					<li>1 peça de fruta</li>
					<li>1 tosta ou 2 bolachas maria</li>
				</ul>
			</br>
			<p><b>2º lanche</b></p>
				<ul>
					<li>idêntico ao pequeno-almoço</li>
				</ul>
			</br>
			<p><b>Jantar</b></p>
				<ul>
					<li>idêntico ao almoço ou sopa</li>
					<li>1 peça de fruta ou salada com 1 queijo fresco/atum ou fiambre + 3 ou 4 colheres massa espiral ou leguminosas</li>
				</ul>
			</br>
			<p><b>Ceia</b></p>
				<ul>
					<li>Chá ervas ou leite</li>
					<li>meia bolinha (25-30 g) com queijo ou fiambre ou 3 bolachas Maria ou torrada ou integral ou 2 bolachas de água e sal</li>
				</ul>
		</ul>
</div>