<div class="row top">
	<h4>Alimentos permitidos</h4>
	<p>(com quantidade controlada, porque têm alguma percentagem de hidratos de carbono)</p>
	<ul>
		<li>
			1 BOLA DE PÃO DE MISTURA, INTEGRAL OU ESCURO - Só pode ser ao pequeno-almoço.
		</li>
		<li>
			1 COPO DE LEITE POR DIA - Pode ser magro / meiogordo / soja natural(sem sabores) / arroz / aveia.
		</li>
		<li>
			1 IOGURTE MAGRO SEM AÇÚCAR POR DIA.
		</li>
		<li>
			2 QUEIJOS FRESCOS / TRIÂNGULOS / BOLAS OU FATIAS DE FLAMENGO - Se tiver o colesterol elevado, opte pelos magros.
		</li>
	</ul>
</div>