<div class="row top">
	<h4>Alimentos permitidos sem limite de quantidade</h4>
	<p>(Não possuem praticamente percentagem de hidratos de carbono, com exceção dos legumes e verduras indicados, que eu também permito sem limite porque têm índice Glicémico baixo.)</p>
	<ul>
		<li>
			CARNES - Todas, exceto carnes gordas. Retire todas as gorduras visíveis e não coma enchidos (exceto de aves), salsichas (exceto de aves), plumas e entrecosto.
		</li>
		<li>
			PEIXES, MARISCOS, MOLUSCOS - Todos, incluindo as conservas como o atum em água ou azeite.
		</li>
		<li>
			OVOS - Cozidos, estrelados em azeite ou em omeleta.
		</li>
		<li>
			ENCHIDOS - De peru ou frango (mortadela, fiambre, etc.). De porco, apenas fiambre, paio do lombo e presunto sem gordura. Também são permitidos os carpaccios de vaca e de bacalhau, e as carnes secas.
		</li>
		<li>
			VERDURAS E LEGUMES - Todos, exceto os da lista dos proibidos.
		</li>
		<li>
			GELATINA - Só as que dizem que não contêm açúcar. Algumas indicam na embalagem que são 0%, mas apenas têm 0% de gordura - os açúcares estão lá! Não se esqueça de que o que interessa nesta dieta é reduzir os açúcares. Encontrá-la-ás nas ervanárias e em alguns supermercados.
		</li>
		<li>
			BEBIDAS - É importante que beba pelo menos 1,5 litros de água por dia. Pode fazê-lo dentro e fora das refeições. Pode optar pelo chá, mas se gostar dele açucarado, deve usar adoçante em vez de açúcar (há inclusive um novo adoçante no mercado, que é natural, derivado dos extratos de estévia, ao contrário dos comuns, que são químicos). Pode beber também café (com adoçante) e colas light, antes, durante ou depois das refeições. Vão ajudá-lo a sentir-se saciado.
		</li>
		<li>
			TEMPEROS E ESPECIARIAS - Pode usar à vontade quase todos os temperos: caril, orégãos, manjericão, louro, pimentão doce, pimenta, piripiri, sal, etc. No caso do sal, deve ter atenção à quantidade, sobretudo se for hipertenso.
		</li>
		<li>
			FORMAS DE COZINHAR - Poderá cozer, grelhar, estufar, guisar, saltear, usando: azeite, óleo de linhaça, tomate, alho, cebola, maionese caseira (feita com azeite), mostarda (só um bocadinho para dar sabor), molho de soja, queijos (para dar graça aos pratos, mas sem exagerar), temperos e especiarias. Ao servir, tente deixar o molho no tacho. Os alimentos já têm sabor, não precisa de os regar com molho.
		</li>
	</ul>
</div>