<div class="row top">
	<h4>Agora que já sabe tudo o que deve e não deve comer, nesta faseda dieta, preciso de lhe deixar ainda uns últimos conselhos, quelhe vão ser muito úteis durante o próximo mês:</h4>
	<h4>12 Conselhos úteis antes de iniciar a dieta</h4>
	<ol>
		<li>
			Pese-se sempre em jejum, sem roupa e depois de ir à casa de banho. Preferencialmente sempre na mesma balança.
		</li>
		<li>
			Pese-se no 1º dia da dieta, e depois só volte a pesar-se no 15º (altura em que, se estivesse a ser seguido por mim, viria a uma 2ª consulta).
		</li>
		<li>
			Arranje um companheiro/a de dieta, amigo ou familiar. Os melhores resultados que tenho são em casais, quando ambos fazem a dieta ao mesmo tempo. É, de facto, ingrato estar a cozinhar batatas fritas ou a ver as pessoas que nos rodeiam comê-las sem poder tocar-lhes. Quando a dieta é feita «a 2», há mais apoio, companheirismo, e até competição saudável. Mas deixo um alerta às mulheres: se escolherem um homem para competir, não apostem dinheiro, porque é certo que vão perdê-lo! Os homens, na maioria dos casos, têm mais facilidade em perder peso do que as mulheres.
		</li>
		<li>
			Despeça-se convenientemente dos seus pratos favoritos, antes de iniciar a dieta. Delicie-se com os últimos pacotes de bolachas que tem em casa, ou meta todas as guloseimas num saco e ofereça-as aos seus amigos. Faça algo que o marque e que o deixe mais animado para o que está prestes a fazer.
		</li>
		<li>
			Vá ao supermercado com a lista dos produtos permitidos e permitidos sem limite, e compre aqueles que lhe agradam mais. A variedade é imensa, hoje em dia. Experimente ver a oferta de charcutaria de aves... e já provou carpaccio de bacalhau? Encontrará um mundo novo, no supermercado, se deixar para trás as prateleiras do arroz e das massas, dos bolos e das bolachas e dos aperitivos e bebidas. É importante que não tenha «tentações» em sua casa. Como diz o ditado, «coração que não vê, coração que não sente»...
		</li>
		<li>
			Se tem filhos, não se penalize por deixar de ter em casa aquelas bolachas de chocolate de que eles tanto gostam. A eles também não lhes farão falta, acredite. Delicie-se com eles no Dia da Asneira, onde podem abrir juntos um pacote.
		</li>
		<li>
			É possível que tenha alguma prisão de ventre, porque estará a mudar de hábitos alimentares, e a excluir a fruta e as leguminosas da sua dieta, durante 15 dias. Se o sentir, pode comprar um chá dietético que ajude a resolver o problema, ou peça na farmácia um regulador intestinal. A acontecer, durará pouco tempo, mas previna-se já para isso.
		</li>
		<li>
			Esta dieta não indica horas específicas para comer. No entanto, deve-se sempre fazer um bom pequeno-almoço, um bom almoço e um bom jantar. Isso evitará que sinta muita fome nos intervalos das refeições. Poderá comer alimentos da lista dos permitidos, a qualquer hora, mas vai ser sentir falta do seu salgado, do seu bolo ou do seu pacote de bolachas. Quanto mais saciado ficar às refeições, menos se sentirá tentado a ingerir estes ou outros alimentos proibidos.
		</li>
		<li>
			Os 3 primeiros dias são difíceis, exatamente porque o seu corpo está habituado a ingerir os alimentos proibidos. Os doces viciam. E que bem que sabe um folhado a meio da manhã... Mas a partir do 4.° dia tudo se tornará mais fácil, porque o seu apetite já não será o mesmo, e já perdeu algum volume, o que é uma grande motivação. E está a 3 dias do 7º, onde poderá ingerir todos os alimentos de que teve saudades nos outros 6...
		</li>
		<li>
			Não vou pedir-lhe que comece a suar no ginásio todos os dias. Só é importante que aumente a sua atividade (sem exageros) na fase de manutenção, e mais por uma questão de saúde e bem-estar do que para manter o peso. Se começar a fazer logo muito exercício - sobretudo musculação -, poderá ver o seu peso aumentar em vez de diminuir, porque estará a transformar a gordura em músculo. Além de que terá muito mais apetite. Prefiro que elimine primeiro a gordura em excesso e, depois de alcançar o seu peso ideal, comece a fazer exercício para tonificar o corpo e se sentir ainda mais saudável.
		</li>
		<li>
			Se está indeciso sobre o dia em que deve começar a dieta, aconselho-o a optar pela segunda-feira, para que o Dia da Asneira calhe no fim de semana. E à segunda regressa ao ritmo mais certo, onde provavelmente terá uma vida mais regrada, esteja a estudar ou a trabalhar.
		</li>
		<li>
			Compre uma lancheira e de manhã ponha lá sempre, pelo menos, 1 iogurte, 2 unidades de queijo e gelatinas. Estes alimentos vão ser os seus melhores companheiros no próximo mês. Se acha que vai sentir fome e ansiedade (e nos três primeiros dias é natural que sinta alguma), junte também alimentos como 1 ovo cozido e algumas fatias de fiambre de peru, por exemplo.
		</li>
	</ol>
	<p>
		Depois destes conselhos, está na posse de todos os «segredos» para perder o peso que deseja. Se os misturar corretamente com a sua força de vontade, daqui a 31 dias será uma pessoa diferente. Seguramente alguém mais feliz. Pronto para começar?
	</p>
</div>