<div class="row top">
	<h4>1ª Consulta</h4>
	<p>Antes de iniciar a dieta, é essencial que faça uma correta avaliação do seu estado.</p>
	<ul>
		<li> Quanto pesa?</li>
		<li> Quantos quilos deveria ter, de acordo com o seu sexo, a sua estatura e a sua idade?</li>
		<li> Como é o seu perímetro abdominal?</li>
	</ul>
	<p>Se viesse à minha consulta, começaríamos por fazer estaavaliação, que é fundamental para saber até onde pode e deve ir,em termos de perda de peso, e traçar metas exequíveis. Por isso, neste livro, começaremos também por aqui. Para se avaliar corretamente, vai precisar de:</p>
	<ul>	
		<li><a href="">− Balança</a></li>
		<li><a href="">− Fita métrica</a></li>
		<li><a href="">− Máquina fotográfica</a></li>
	</ul>
</div>