<div class="row top">
	<h4>Alimentos proibidos</h4>
	<ul>
		<li>
			Pão (exceto o da manhã)
		</li>
		<li>
			Arroz / massa/ batata/ cuscuz
		</li>
		<li>
			Óleos, margarinas
		</li>
		<li>
			Feijão / grão / milho / ervilhas / favas/ lentilhas
		</li>
		<li>
			Cenoura cozida / abóbora / beterraba
		</li>
		<li>
			Tostas/ bolachas / cereais / farinhas
		</li>
		<li>
			Açúcar/doces/chocolates
		</li>
		<li>
			Bebidas alcoólicas/sumos/sumos naturais
		</li>
		<li>
			Molhos - maionese, molho cor-de-rosa, ketchup (têm farinhas ou açúcares)
		</li>
		<li>
			Fruta e sopa (só na Fase 1)
		</li>
	</ul>
</div>