<div class="row top">
	<h4>Para maximizar os resultados:</h4>
	<ul>
		<li>
			Eliminar por completo o pão da sua dieta, nos primeiros 15 dias de dieta, substituindo o pão da manhã por uma omeleta.
		</li>
		<li>
			Ingerir os legumes permitidos apenas numa refeição. A percentagem de hidratos de carbono destes alimentos é muito baixa mas, ao evitá-los, obterá resultados ainda mais rápidos. Convém, no entanto, tomar um suplemento vitamínico.
		</li>
		<li>
			Só comer cozidos e grelhados e evitar os estufados eguisados.
		</li>
		<li>
			Comer mais peixe do que carne.
		</li>
		<li>
			Comer mais carnes brancas do que vermelhas.
		</li>
		<li>
			Evitar nos primeiros 15 dias o Dia da Asneira, deixando-o apenas para a segunda fase da dieta (quando já tiver perdido bastante peso).
		</li>
	</ul>
	<p>
		NOTA: Só acho que deve fazê-lo se precisa mesmo de perder peso mais depressa do que seria aconselhável. Por exemplo, se está noivo ou noiva e casa daí a um mês, ou se está prestes a ir de férias e quer estar no seu melhor.
	</p>
</div>